@import url("/assets/css/general-sans.css");

:root {
    /* --bs-primary: 8, 118, 221; */
    --bs-primary-rgb: 8, 118, 221;
    /* --bs-secondary: rgb(207, 250, 254); */
    --bs-secondary-rgb: 207, 250, 254;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111827;
}

.header_wraper {
    height: 80px;
}

h1 {
    font-size: 36px;
    font-family: 'GeneralSans-Semibold';
    line-height: 48px;
    letter-spacing: -0.36px;
}

p {
    margin-bottom: 0;
}

body {
    font-family: 'GeneralSans-Regular';
    color: #374151;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    background: url(../images/content/Ellipse.svg) no-repeat 64px 412px / 100%;
}

.container-lg {
    padding-left: 20px;
    padding-right: 20px;
}

img {
    max-width: 100%;
}

.button_wraper {

    padding-top: 40px;
    padding-bottom: 88px;

}

.intro_section {
    padding-top: 48px;
    padding-bottom: 65px;
}

.features_section {
    padding-top: 48px;
    padding-bottom: 48px;
}

.feature_wraper {
    gap: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.feature_wraper img {
    width: 56px;
    height: 56px;
}

.feature_wraper p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.14px;
}

h2 {
    font-size: 20px;
    font-family: 'GeneralSans-Semibold';
    line-height: 28px;
    letter-spacing: 0, 2px;
}

.image_wraper {
    padding-top: 48px;
    padding-bottom: 48px;
    overflow: hidden;
    position: relative;
}

.image_wraper a img {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    padding: 0;
}

.image_wraper a {
    left: 50%;
    bottom: 2px;
    min-width: 199px;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 12px;
    background-color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.14px;

}

@media screen and (min-width: 768px) {
    .container-lg {
        padding-left: 40px;
        padding-right: 40px;
    }

    .intro_section {
        padding-top: 80px;
    }

    body {
        font-size: 18px;
        background-size: auto;
    }

    .button_wraper {
        padding-bottom: 64px;
    }

    .feature_group-wraper {
        padding-top: 40px;
        padding-bottom: 24px;
        margin-right: -16px;
        margin-left: -16px;
    }

    .feature_wraper {
        padding-left: 16px;
        padding-right: 16px;
        flex-direction: column;
        gap: 24px;
        text-align: center;
        align-items: center;
    }

    .features_section {
        padding-top: 98px;
        padding-bottom: 98px;
    }

    .image_wraper a {
        padding: 16px;
        bottom: -7px;
    }

}

@media screen and (min-width: 922px) {
    .container-lg {
        padding-left: 32px;
        padding-right: 32px;
    }

    .intro_section {
        padding-top: 32px;
    }
}

@media screen and (min-width: 1400px) {
    .container-lg {
        max-width: 1280px;
    }
}

.btn {
    --bs-btn-font-size: 14px;
    --bs-btn-font-weight: 600;
    --bs-btn-padding-x: 16px;
    --bs-btn-padding-y: 10px;
}

.btn-lg {
    --bs-btn-padding-y: 12px;
}