@import url("/assets/css/general-sans.css");

:root {
    /* --bs-primary: 8, 118, 221; */
    --bs-primary-rgb: 8, 118, 221;
    /* --bs-secondary: rgb(207, 250, 254); */
    --bs-secondary-rgb: 207, 250, 254;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111827;
}

.header_wraper {
    height: 80px;
}

h1 {
    font-size: 36px;
    font-family: 'GeneralSans-Semibold';
    line-height: 48px;
    letter-spacing: -0.36px;
}

p {
    margin-bottom: 0;
}

body {
    font-family: 'GeneralSans-Regular';
    color: #374151;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    background: url(../images/content/Ellipse.svg) no-repeat 64px 412px / 100%;
}

.container-lg {
    padding-left: 20px;
    padding-right: 20px;
}

img {
    max-width: 100%;
}

.button_wraper {

    padding-top: 40px;
    padding-bottom: 88px;

}

.intro_section {
    padding-top: 48px;
    padding-bottom: 65px;
}

.features_section {
    padding-top: 48px;
    padding-bottom: 48px;
}

.feature_wraper {
    gap: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.feature_wraper img {
    width: 56px;
    height: 56px;
}

.feature_wraper p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.14px;
}

h2 {
    font-size: 20px;
    font-family: 'GeneralSans-Semibold';
    line-height: 28px;
    letter-spacing: 0, 2px;
}

.image_wraper {
    padding-top: 48px;
    padding-bottom: 48px;
    overflow: hidden;
    position: relative;
}

.image_wraper a img {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    padding: 0;
}

.image_wraper a {
    left: 50%;
    bottom: 2px;
    min-width: 199px;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 12px;
    background-color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.14px;
}

.logo_group-row {
    display: flex;
    justify-content: center;
    gap: 32px;
}


.logo_group-row:last-child {
    padding-top: 32px;
}

.logo_wraper {
    padding-top: 40px;
}

.integrations_section {
    padding-bottom: 72px;
    padding-top: 48px;
    background: url(/assets/images/content/Ellipse.svg) no-repeat center -177.5px / calc(100% - 20px);
}

.buble {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.integrations_section h1 {
    margin-bottom: 16px;
}

.footer_text-wraper,
.footer_text-wraper h1 {
    color: #fff;
}

.footer_divider {
    height: 1px;
    background-color: #ffffff50;
    position: relative;
    margin-top: 88px;
    margin-bottom: 48px;
}

.footer_divider img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111827;
    padding: 0 24px;
}

footer h1 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.3px;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .container-lg {
        padding-left: 40px;
        padding-right: 40px;
    }

    .intro_section {
        padding-top: 80px;
    }

    body {
        font-size: 18px;
        background-size: auto;
        background-position: 130px 260px;
    }

    .button_wraper {
        padding-bottom: 64px;
    }

    .feature_group-wraper {
        padding-top: 40px;
        padding-bottom: 24px;
        margin-right: -16px;
        margin-left: -16px;
    }

    .feature_wraper {
        padding-left: 16px;
        padding-right: 16px;
        flex-direction: column;
        gap: 24px;
        text-align: center;
        align-items: center;
    }

    .features_section {
        padding-top: 98px;
        padding-bottom: 98px;
    }

    .image_wraper a {
        padding: 16px;
        bottom: -7px;
    }

    .integrations_text-wraper {
        width: 592px;
    }

    .logo_group-row {
        gap: 72px;
    }

    .logo_group-row:last-child {
        padding-top: 72px;
    }

    .buble {
        width: 80px;
        height: 80px;
    }

    .integrations_section h1 {
        margin-bottom: 24px;
    }

    .integrations_section {
        padding-bottom: 72px;
        background-size: auto;
        background-position: center -350px ;
    }
}

@media screen and (min-width: 922px) {
    body {
        background-position: 150% -100px;
    }

    .container-lg {
        padding-left: 32px;
        padding-right: 32px;
    }

    .intro_section {
        padding-top: 32px;
    }

    .integrations_text-wraper {
        text-align: left;
    }

    h1 {
        font-size: 56px;
        line-height: 72px;
        letter-spacing: -0.56px;
    }

    .integrations_section {
        padding-bottom: 96px;
        background-position: 32px -350px ;

    }

    .footer_divider {
        margin-top: 136px;
    }

}

@media screen and (min-width: 1200px) {
    .logo_wraper {
        padding-top: 0;
    }
}

@media screen and (min-width: 1400px) {
    .container-lg {
        max-width: 1280px;
    }

    .integrations_section .row {
        text-align: left;
    }

    .integrations_section {
        padding-bottom: 236px;
    }
}

.btn {
    --bs-btn-font-size: 14px;
    --bs-btn-font-weight: 600;
    --bs-btn-padding-x: 16px;
    --bs-btn-padding-y: 10px;
}

.btn-lg {
    --bs-btn-padding-y: 12px;
}

footer {
    background-color: #111827;
}

.footer_copyright {
    color: #9CA3AF;
}

.footer_copyright a {
    text-decoration: none;
    color: #E0F2FE;
}

footer {
    padding-top: 64px;
    padding-bottom: 40px;
}

.footer_button-wraper {
    padding-top: 40px;
}